/* css reset from joshwcomeau.com */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* added resets */
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* selection */
::selection {
  background-color: #ffd83d;
  color: #131313;
}
/* root */
:root {
  --clr-neutral-100: #fff;
  --clr-neutral-500: #888;
  --clr-neutral-900: #000;
  --clr-bg-100: #fff;
  --clr-bg-400-t: rgba(160, 160, 160, 0.5);
  --clr-bg-500: #888;
  --clr-bg-900: #000;
  --clr-hover: #f3f6f9;
  --background-primary: #fff;
  --background-primary-t: rgba(0, 17, 51, 0.5);
  --text-primary: #000;
  --text-secondary: #013;
  font-size: 16px;
}
[data-theme="dark"] {
  --background-primary: #013;
  --text-primary: #fff;
  --clr-hover: rgba(0, 42, 126, 0.25);
}
body {
  padding: 65px 0 0;
}

/* layout */
header {
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-primary);
  backdrop-filter: blur(12px);
  border-block-end: 1px solid var(--clr-bg-400-t);
  transition: all 0.5s;
  z-index: 9;
}
.headerInner {
  padding: 0 0.75rem;
  max-width: 2400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.25rem;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 1rem;
}
.logo span {
  display: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text-primary);
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: none;
}

nav li {
  display: inline-block;
}

nav a,
.menuInner a {
  text-decoration: none;
  color: var(--clr-primary);
  color: var(--text-primary);
  font-size: 1.125rem;
  font-weight: 600;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 100vmax;
}
nav a:hover,
.menuInner a:hover {
  background-color: var(--clr-hover);
}
.iconButtons {
  display: flex;
}
.iconButton {
  flex-shrink: 0;
  font-size: 1.5rem;
  padding: 0.75rem;
  border-radius: 100vmax;
  color: var(--text-primary);
}
a.iconButton {
  color: var(--text-primary);
  cursor: pointer;
}
.iconButton:hover {
  background-color: var(--clr-hover);
}
/* menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary-t);
  display: none;
  z-index: 98;
}
.menu.open {
  display: block;
}
.menuInner {
  position: relative;
  width: 72%;
  height: 100%;
  background-color: var(--background-primary);
  animation: slideRight 0.3s ease 1;
}
.menuInner ul {
  padding: 2.5rem 1rem;
}
.menuInner li {
  display: block;
}
.menuInner a {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.menuInner .active {
  background-color: var(--clr-hover);
}
.closeMenu {
  position: absolute;
  bottom: 24px;
  right: 32px;
}

/* homepage */
main {
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: all 0.5s;
  height: 100vh;
}

/* layout */
.layout {
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: all 0.5s;
}
.layoutInner {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100dvh;
}
.sideBar {
  display: none;
  border-inline-end: 1px solid var(--clr-bg-400-t);
  padding: 1rem;
  position: fixed;
  top: 80px;
  left: 0;
  width: 20%;
  height: 100%;
}
.sideBar a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1.125rem;
  font-weight: 600;
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}
.sideBar a:hover,
.sideBar .active {
  background-color: var(--clr-hover);
}

.content {
  position: relative;
  padding: 4rem 1rem;
}
.onThisPage {
  display: none;
  position: fixed;
  top: 80px;
  right: 0;
}
/* animations */
@keyframes slideRight {
  from {
    left: -120px;
  }
  to {
    left: 0px;
  }
}
footer {
  background: var(--background-primary);
  color: var(--text-primary);
  transition: all 0.5s;
}
@media screen and (min-width: 600px) {
  body {
    padding: 80px 0 0;
  }
  header {
    padding: 0.75rem 0;
  }
  .headerInner {
    padding: 0 2rem 0 1rem;
  }
  .logo {
    gap: 0.5rem;
  }
  .openMenu {
    display: none;
  }
  nav ul {
    display: block;
  }
  nav a {
    padding: 0.25rem 0.25rem;
  }
  .iconButtons {
    gap: 0.375rem;
  }
  .iconButton {
    padding: 1rem;
  }
  .menu.open {
    display: none;
  }
}
@media screen and (min-width: 762px) {
  nav a {
    padding: 0.375rem 1rem;
  }
  .layoutInner {
    flex-direction: row;
  }
  .sideBar {
    display: block;
  }
  .content {
    max-width: 60ch;
    margin-left: 180px;
  }
  .onThisPage {
  }
}
@media screen and (min-width: 962px) {
  .logo span {
    display: block;
  }
  nav {
    gap: 2.5rem;
  }
  .content {
    max-width: 75ch;
  }
}
@media screen and (min-width: 1080px) {
  .onThisPage {
    display: block;
  }
}
